<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class='container text-center'>
<h1>Обо мне</h1>
<br>
Здравствуйте!
<br>
На этом сайте Вы можете сгенерировать бомбический пароль
<br>
с наличием цифр, букв и специальных символов
<br>
Дерзайте! И отличного дня)
<br>
<br>
<a href="{% url 'home' %}" class='btn btn-warning'>Вернуться</a>
</div>